#Group_1 {
    position: absolute;
    top: 150px;
    left: 60px;
    width: 767px;
    height: 741px;
    overflow: visible;
}
#Path_1 {
    fill: rgb(122, 122, 122);
}
.Path_1 {
    overflow: visible;
    position: absolute;
    width: 766.878px;
    height: 740.829px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
    fill: rgba(49,49,49,1);
}
.Path_2 {
    overflow: visible;
    position: absolute;
    width: 241.4px;
    height: 144.83px;
    left: 178.178px;
    top: 595.999px;
    transform: matrix(1,0,0,1,0,0);
}

/*bbbb*/
#Path_3 {
    fill: rgba(255,255,255,1);
}
.Path_3 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 402.238px;
    top: 180.049px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_4 {
    fill: rgba(207,207,207);
}
.Path_4 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 402.238px;
    top: 217.999px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
    fill: rgba(207,207,207);
}
.Path_5 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 402.238px;
    top: 255.949px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_6 {
    fill: rgba(207,207,207);
}
.Path_6 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 402.238px;
    top: 293.899px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
    fill: rgba(207,207,207);
}
.Path_7 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 402.238px;
    top: 331.849px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_8 {
    fill: rgba(207,207,207);
}
.Path_8 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 448.998px;
    top: 180.049px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_9 {
    fill: rgba(39,152,100,1);
}
.Path_9 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 448.998px;
    top: 217.999px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_10 {
    fill: rgba(39,152,100,1);
}
.Path_10 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 448.998px;
    top: 255.949px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_11 {
    fill: rgba(39,152,100,1);
}
.Path_11 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 448.998px;
    top: 293.899px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_12 {
    fill: rgba(207,207,207);
}
.Path_12 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 448.998px;
    top: 331.849px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_13 {
    fill: rgba(39,152,100,1);
}
.Path_13 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 495.758px;
    top: 180.049px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_14 {
    fill: rgba(39,152,100,1);
}
.Path_14 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 495.758px;
    top: 217.999px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_15 {
    fill: rgba(207,207,207);
}
.Path_15 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 495.758px;
    top: 255.949px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_16 {
    fill: rgba(39,152,100,1);
}
.Path_16 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 495.758px;
    top: 293.899px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_17 {
    fill: rgba(39,152,100,1);
}
.Path_17 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 495.758px;
    top: 331.849px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_18 {
    fill: rgba(39,152,100,1);
}
.Path_18 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 542.518px;
    top: 180.049px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_19 {
    fill: rgba(255,255,255,1);
}
.Path_19 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 542.518px;
    top: 217.999px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_20 {
    fill: rgba(255,255,255,1);
}
.Path_20 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 542.518px;
    top: 255.949px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_21 {
    fill: rgba(207,207,207);
}
.Path_21 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 542.518px;
    top: 293.899px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_22 {
    fill: rgba(39,152,100,1);
}
.Path_22 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 542.518px;
    top: 331.849px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_23 {
    fill: rgba(255,255,255,1);
}
.Path_23 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 589.278px;
    top: 180.049px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_24 {
    fill: rgba(255,255,255,1);
}
.Path_24 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 589.278px;
    top: 217.999px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_25 {
    fill: rgba(255,255,255,1);
}
.Path_25 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 589.278px;
    top: 255.949px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_26 {
    fill: rgba(39,152,100,1);
}
.Path_26 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 589.278px;
    top: 293.899px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_27 {
    fill: rgba(207,207,207);
}
.Path_27 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 589.278px;
    top: 331.849px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_28 {
    fill: rgba(255,255,255,1);
}
.Path_28 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 636.038px;
    top: 180.049px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_29 {
    fill: rgba(255,255,255,1);
}
.Path_29 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 636.038px;
    top: 217.999px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_30 {
    fill: rgba(39,152,100,1);
}
.Path_30 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 636.038px;
    top: 255.949px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_31 {
    fill: rgba(207,207,207);
}
.Path_31 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 636.038px;
    top: 293.899px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_32 {
    fill: rgba(255,255,255,1);
}
.Path_32 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 636.038px;
    top: 331.849px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_33 {
    fill: rgba(39,152,100,1);
}
.Path_33 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 682.798px;
    top: 180.049px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_34 {
    fill: rgba(39,152,100,1);
}
.Path_34 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 682.798px;
    top: 217.999px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_35 {
    fill: rgba(207,207,207);
}
.Path_35 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 682.798px;
    top: 255.949px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_36 {
    fill: rgba(255,255,255,1);
}
.Path_36 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 682.798px;
    top: 293.899px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_37 {
    fill: rgba(39,152,100,1);
}
.Path_37 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 682.798px;
    top: 331.849px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_38 {
    fill: rgba(39,152,100,1);
}
.Path_38 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 729.558px;
    top: 180.049px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_39 {
    fill: rgba(39,152,100,1);
}
.Path_39 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 729.558px;
    top: 217.999px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_40 {
    fill: rgba(207,207,207);
}
.Path_40 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 729.558px;
    top: 255.949px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_41 {
    fill: rgba(39,152,100,1);
}
.Path_41 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 729.558px;
    top: 293.899px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_42 {
    fill: rgba(39,152,100,1);
}
.Path_42 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 729.558px;
    top: 331.849px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_43 {
    fill: rgba(207,207,207);
}
.Path_43 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 776.318px;
    top: 180.049px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_44 {
    fill: rgba(39,152,100,1);
}
.Path_44 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 776.318px;
    top: 217.999px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_45 {
    fill: rgba(39,152,100,1);
}
.Path_45 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 776.318px;
    top: 255.949px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_46 {
    fill: rgba(39,152,100,1);
}
.Path_46 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 776.318px;
    top: 293.899px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_47 {
    fill: rgba(207,207,207);
}
.Path_47 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 776.318px;
    top: 331.849px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_48 {
    fill: rgba(207,207,207);
}
.Path_48 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 823.079px;
    top: 180.049px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_49 {
    fill: rgba(207,207,207);
}
.Path_49 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 823.079px;
    top: 217.999px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_50 {
    fill: rgba(39,152,100,1);
}
.Path_50 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 823.079px;
    top: 255.949px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_51 {
    fill: rgba(207,207,207);
}
.Path_51 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 823.079px;
    top: 293.899px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_52 {
    fill: rgba(207,207,207);
}
.Path_52 {
    overflow: visible;
    position: absolute;
    width: 27.46px;
    height: 27.46px;
    left: 823.079px;
    top: 331.849px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_53 {
    fill: rgba(47,46,65,1);
}
.Path_53 {
    overflow: visible;
    position: absolute;
    width: 0.62px;
    height: 0.07px;
    left: 335.475px;
    top: 659.981px;
    transform: matrix(1,0,0,1,0,0);
}
#ab6171fa-7d69-4734-b81c-8dff60 {
    fill: rgba(255,182,182,1);
}
.ab6171fa-7d69-4734-b81c-8dff60 {
    position: absolute;
    overflow: visible;
    width: 136.644px;
    height: 136.644px;
    left: 214.492px;
    top: 108.411px;
}
#bf427902-b9bf-4946-b5d7-5c1c7e {
    fill: rgba(49,49,49,1);
}
.bf427902-b9bf-4946-b5d7-5c1c7e {
    overflow: visible;
    position: absolute;
    width: 160.909px;
    height: 130.228px;
    left: 202.062px;
    top: 74.051px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_54 {
    fill: rgba(202,202,202,1);
}
.Path_54 {
    overflow: visible;
    position: absolute;
    width: 296.25px;
    height: 390.63px;
    left: 163.298px;
    top: 269.419px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_55 {
    fill: rgba(255,182,182,1);
}
.Path_55 {
    overflow: visible;
    position: absolute;
    width: 166.862px;
    height: 81.495px;
    left: 121.886px;
    top: 478.1px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_56 {
    fill: rgba(202,202,202,1);
}
.Path_56 {
    overflow: visible;
    position: absolute;
    width: 164.959px;
    height: 234.06px;
    left: 59.552px;
    top: 310.337px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_57 {
    fill: rgba(255,182,182,1);
}
.Path_57 {
    overflow: visible;
    position: absolute;
    width: 164.215px;
    height: 94.978px;
    left: 313.225px;
    top: 464.523px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_58 {
    fill: rgba(202,202,202,1);
}
.Path_58 {
    overflow: visible;
    position: absolute;
    width: 162.108px;
    height: 241.982px;
    left: 371.434px;
    top: 294.711px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_59 {
    fill: rgba(49,49,49,1);
}
.Path_59 {
    overflow: visible;
    position: absolute;
    width: 691.95px;
    height: 179.88px;
    left: 44.898px;
    top: 528.699px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_60 {
    fill: rgba(255,255,255,1);
}
.Path_60 {
    overflow: visible;
    position: absolute;
    width: 108.01px;
    height: 11.74px;
    left: 560.018px;
    top: 631.439px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_61 {
    fill: rgba(49,49,49,1);
}
.Path_61 {
    overflow: visible;
    position: absolute;
    width: 338.93px;
    height: 201.77px;
    left: 120.398px;
    top: 253.05px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_62 {
    fill: rgba(49,49,49,1);
}
.Path_62 {
    overflow: visible;
    position: absolute;
    width: 339.816px;
    height: 84.954px;
    left: 120.101px;
    top: 449.506px;
    transform: matrix(1,0,0,1,0,0);
}
#Ellipse_1 {
    fill: rgba(39,152,100,1);
}
.Ellipse_1 {
    position: absolute;
    overflow: visible;
    width: 62.613px;
    height: 62.613px;
    left: 254.597px;
    top: 317.397px;
}
#Path_63 {
    fill: rgba(39,152,100,1);
}
.Path_63 {
    overflow: visible;
    position: absolute;
    width: 167px;
    height: 97.988px;
    left: 198.668px;
    top: 96.151px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_64 {
    fill: rgba(39,152,100,1);
}
.Path_64 {
    overflow: visible;
    position: absolute;
    width: 29.236px;
    height: 47.261px;
    left: 344.948px;
    top: 147.448px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_65 {
    fill: rgba(255,255,255,1);
}
.Path_65 {
    overflow: visible;
    position: absolute;
    width: 9.91px;
    height: 45.9px;
    left: 344.948px;
    top: 148.689px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_66 {
    fill: rgba(49,49,49,1);
}
.Path_66 {
    overflow: visible;
    position: absolute;
    width: 7.155px;
    height: 34.93px;
    left: 367.028px;
    top: 151.649px;
    transform: matrix(1,0,0,1,0,0);
}
#Ellipse_2 {
    fill: rgba(49,49,49,1);
}
.Ellipse_2 {
    width: 5px;
    height: 14px;
    position: absolute;
    overflow: visible;
    transform: translate(0px, 0px) matrix(1,0,0,1,354.9859,172.3213) rotate(-7.726deg);
    transform-origin: center;
}
#Ellipse_3 {
    fill: rgba(49,49,49,1);
}
.Ellipse_3 {
    width: 5px;
    height: 14px;
    position: absolute;
    overflow: visible;
    transform: translate(0px, 0px) matrix(1,0,0,1,351.9859,154.3214) rotate(-7.726deg);
    transform-origin: center;
}
#Ellipse_4 {
    fill: rgba(49,49,49,1);
}
.Ellipse_4 {
    width: 5px;
    height: 14px;
    position: absolute;
    overflow: visible;
    transform: translate(0px, 0px) matrix(1,0,0,1,370.9859,161.3213) rotate(-7.726deg);
    transform-origin: center;
}
#Path_67 {
    fill: rgba(49,49,49,1);
}
.Path_67 {
    overflow: visible;
    position: absolute;
    width: 65.097px;
    height: 22.898px;
    left: 231.187px;
    top: 94.701px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_68 {
    fill: rgba(39,152,100,1);
}
.Path_68 {
    overflow: visible;
    position: absolute;
    width: 29.537px;
    height: 45.061px;
    left: 192.314px;
    top: 171.059px;
    transform: matrix(1,0,0,1,0,0);
}
#Ellipse_5 {
    fill: rgba(49,49,49,1);
}
.Ellipse_5 {
    width: 5px;
    height: 14px;
    position: absolute;
    overflow: visible;
    transform: translate(0px, 0px) matrix(1,0,0,1,201.3988,187.9402) rotate(-13.53deg);
    transform-origin: center;
}
#Ellipse_6 {
    fill: rgba(49,49,49,1);
}
.Ellipse_6 {
    width: 5px;
    height: 14px;
    position: absolute;
    overflow: visible;
    transform: translate(0px, 0px) matrix(1,0,0,1,191.3987,190.9402) rotate(-13.53deg);
    transform-origin: center;
}
#Path_69 {
    fill: rgba(255,255,255,1);
}
.Path_69 {
    overflow: visible;
    position: absolute;
    width: 13.174px;
    height: 43.72px;
    left: 209.178px;
    top: 170.649px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_70 {
    fill: rgba(49,49,49,1);
}
.Path_70 {
    overflow: visible;
    position: absolute;
    width: 9.209px;
    height: 31.77px;
    left: 192.309px;
    top: 181.119px;
    transform: matrix(1,0,0,1,0,0);
}