*{
    padding: 0;
    margin: 0;
}
body{
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
   }
   
   .scroll {
    text-decoration: none;
    color: black;
   } 
/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: none;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/**/
body{
    height: 4215px;
    background: #191919 0% 0% no-repeat padding-box;
    display:block;
}
/*taskbar*/

.thamer{
    position: absolute;
    top: 35px;
    left: 1687px;
    width: 173px;
    height: 33px;
    text-align: left;
    transition: all 0.3s ease 0s;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 12.5px;
    color: #FFFFFF;
    opacity: 1;
}
.thamer:hover{
    color: #707070;
    cursor: default;
    text-align: center;
    font-size: 20px;
}
.home{
    position: absolute;
    top: 35px;
    left: 1055px;
    text-align: left;
    transition: all 0.3s ease 0s;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.home:hover{
    color: #707070;
    cursor: pointer;
}
.experiences{
    position: absolute;
    top: 35px;
    left: 921px;
    text-align: left;
    transition: all 0.3s ease 0s;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.experiences:hover{
    color: #707070;
    cursor: pointer;
}
.projects{
    position: absolute;
    top: 35px;
    left: 774px;
    text-align: left;
    transition: all 0.3s ease 0s;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.projects:hover{
    color: #707070;
    cursor: pointer;
}
.language{
    position: absolute;
    top: 35px;
    left: 149px;
    text-align: left;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    cursor: default;
}
.en{
    position: absolute;
    top: 35px;
    left: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: #FFFFFF;
    font-family: 'Segoe UI';
    background: #279864;
    transition: all 0.3s ease 0s;
}
.en:hover{
    background: #0dd879;
}
.en:active{
    transform: translateY(7px);
}
.ar{
    position: absolute;
    top: 35px;
    left: 100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: #FFFFFF;
    font-family: 'Segoe UI';
    background: #0dd879;
    transition: all 0.3s ease 0s;
}
/*header*/
.char{
    position: absolute;
    top: 100px;
    right: 1000px;
}
.imt{
    position: absolute;
    top: 313px;
    left: 1613px;
    width: 448px;
    height: 106px;
    text-align: left;
    font: normal normal normal 80px/106px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.im{
    position: absolute;
    top: 449px;
    left: 1760px;
    width: 122px;
    height: 73px;
    text-align: left;
    font: normal normal normal 55px/73px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.dev{
    position: absolute;
    top: 449px;
    left: 1590px;
    width: 250px;
    height: 73px;
    text-align: left;
    font: normal normal normal 55px/73px Segoe UI;
    letter-spacing: 0px;
    color: #279864;
    opacity: 1;
}
.twr{
    position: absolute;
    top: 995px;
    left: 895px;
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: all 0.3s ease 0s;
    z-index: 10;
}
.twr:hover{
    opacity: 0.7;
}
.twr:active{
    transform: translateY(5px);
}
.gith{
    position: absolute;
    top: 995px;
    left: 975px;
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: all 0.3s ease 0s;
    z-index: 10;
}
.gith:hover{
    opacity: 0.7;
}
.gith:active{
    transform: translateY(5px);
}
.sbar{
    position: absolute;
    top: 980px;
    left: 0px;
    width: 1920px;
    height: 77px;
    background: #202020 0% 0% no-repeat padding-box;
    opacity: 1;
}
.warn1{
    position: absolute;
    top: 619px;
    left: 1791px;
    font-size: 40px;
    color: #279864;
    opacity: 1;
}
.warn2{
    position: absolute;
    top: 721px;
    left: 1791px;
    font-size: 40px;
    color: #279864;
    opacity: 1;
}
.warn1txt{
    position: absolute;
    top: 619px;
    left: 1233px;
    text-align: left;
    font: normal normal normal 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.warn2txt{
    position: absolute;
    top: 721px;
    left: 1233px;
    text-align: left;
    font: normal normal normal 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#grey_1 {
    fill: rgba(39,152,100,0.129);
}
.grey_1 {
    overflow: visible;
    position: absolute;
    width: 1403.498px;
    height: 4502.203px;
    left: -610.895px;
    top: -167.19px;
    transform: matrix(1,0,0,1,0,0);
}
#green_2 {
    fill: rgba(28,28,28,0.878);
}
.green_2 {
    overflow: visible;
    position: absolute;
    width: 1430.276px;
    height: 4473.29px;
    left: 596.105px;
    top: -166.834px;
    transform: matrix(1,0,0,1,0,0);
}
/*about me*/

.about{
    position: absolute;
    top: 1340px;
    left: 725px;
    text-align: center;
    font: normal normal 600 100px/133px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.mycv{
    position: absolute;
    top: 1650px;
    left: 119px;
    width: 1682px;
    height: 320px;
    text-align: center;
    font: normal normal 600 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
/*experiences*/

.exp{
    position: absolute;
    top: 2291px;
    left: 688px;
    width: 544px;
    height: 133px;
    text-align: center;
    font: normal normal 600 100px/133px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    z-index: 1;
}
.btnreveal{
    position: absolute;
    top: 2469px;
    left: 875px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #279864;
    font-size: 35px;
    letter-spacing: 1px;
    transition: all 0.15s linear;
    z-index: 1;
}
.btnreveal:hover {
    background-color: rgba(29, 201, 160, 0.08);
    border-color: #279864;
    color: #279864;
    transform: translateY(-5px) scale(1.05);
}
   
.btnreveal:active {
    background-color: transparent;
    border-color: #279864;
    color: #279864;
    transform: translateY(5px) scale(0.95);
}
   
.btnreveal:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8E8E93;
    border-color: #8E8E93;
}
.prolang{
    position: absolute;
    top: 2574px;
    left: 352px;
    width: 1217px;
    height: 133px;
    text-align: center;
    font: normal normal 600 100px/133px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.prolangicon{
    position: relative;
    top: 2607px;
    left: 620px;
    font-size: 60px;
    color: #FFFFFF;
}
.fw{
    position: absolute;
    top: 3057px;
    left: 673px;
    width: 574px;
    height: 133px;
    text-align: center;
    font: normal normal 600 100px/133px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.fwicon{
    position: absolute;
    top: 3103px;
    left: 660px;
    font-size: 60px;
    color: #FFFFFF;
}
.ds{
    position: absolute;
    top: 3540px;
    left: 574px;
    width: 773px;
    height: 133px;
    text-align: center;
    font: normal normal 600 100px/133px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.dsicon{
    position: absolute;
    top: 3603px;
    left: 590px;
    font-size: 60px;
    color: #FFFFFF;
}
/*Blocks*/
/*Programming Languages*/

.htmlRowExp {
    position: absolute;
    top: 2737px;
    left: 468px;
    width: 282px;
    height: 327px;
    background: #242424;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.htmlLogo{
    position: absolute;
    top: 15px;
    width:250px;
    left: 15px;
}
.html-bar{
    margin-right: 10px;
    margin-left: 10px;
    height: 20px;
    background-color: #191919; 
    position: relative; 
    top: 270px; 
    border-radius: 20px;
}
.htmltxt{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    top: 270px;
    font: normal normal 300 30px/40px Segoe UI;
}
.myBarHTML{
    position: absolute;
    width: 10%;
    border-radius: 20px ; 
    background-color: #279864;
    color: #fff;
    font-family: 'Segoe UI';
}
.htmlRowExp:hover{
    border: #fff solid 2px;
    background: #aaaaaa38;
}

.cssRowExp {
    position: absolute;
    top: 2737px;
    left: 819px;
    width: 282px;
    height: 327px;
    background: #242424;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.cssLogo{
    position: absolute;
    top: 15px;
    width:178px;
    left: 50px;
}
.css-bar{
    margin-right: 10px;
    margin-left: 10px;
    height: 20px;
    background-color: #191919; 
    position: relative; 
    top: 270px; 
    border-radius: 20px;
}
.csstxt{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    top: 270px;
    font: normal normal 300 30px/40px Segoe UI;
}
.myBarCSS{
    position: absolute;
    width: 10%;
    border-radius: 20px ; 
    background-color: #279864;
    color: #fff;
    font-family: 'Segoe UI';
}
.cssRowExp:hover{
    border: #fff solid 2px;
    background: #aaaaaa38;
}


.jsRowExp {
    position: absolute;
    top: 2737px;
    left: 1170px;
    width: 282px;
    height: 327px;
    background: #242424;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.jsLogo{
    position: absolute;
    top: 15px;
    width:230px;
    left: 27px;
}
.js-bar{
    margin-right: 10px;
    margin-left: 10px;
    height: 20px;
    background-color: #191919; 
    position: relative; 
    top: 270px; 
    border-radius: 20px;
}
.jstxt{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    top: 270px;
    font: normal normal 300 30px/40px Segoe UI;
}
.myBarJS{
    position: absolute;
    width: 10%;
    border-radius: 20px ; 
    background-color: #279864;
    color: #fff;
    font-family: 'Segoe UI';
}
.jsRowExp:hover{
    border: #fff solid 2px;
    background: #aaaaaa38;
}
/*Frameworks*/

.btRowExp {
    position: absolute;
    top: 3220px;
    left: 644px;
    width: 282px;
    height: 327px;
    background: #242424;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.btLogo{
    position: absolute;
    top: 15px;
    width:230px;
    left: 27px;
}
.bt-bar{
    margin-right: 10px;
    margin-left: 10px;
    height: 20px;
    background-color: #191919; 
    position: relative; 
    top: 270px; 
    border-radius: 20px;
}
.bttxt{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    top: 270px;
    font: normal normal 300 30px/40px Segoe UI;
}
.myBarBT{
    position: absolute;
    width: 10%;
    border-radius: 20px ; 
    background-color: #279864;
    color: #fff;
    font-family: 'Segoe UI';
}
.btRowExp:hover{
    border: #fff solid 2px;
    background: #aaaaaa38;
}

.w3RowExp {
    position: absolute;
    top: 3220px;
    left: 995px;
    width: 282px;
    height: 327px;
    background: #242424;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.w3Logo{
    position: absolute;
    top: 15px;
    width:230px;
    left: 27px;
}
.ww-bar{
    margin-right: 10px;
    margin-left: 10px;
    height: 20px;
    background-color: #191919; 
    position: relative; 
    top: 270px; 
    border-radius: 20px;
}
.w3txt{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    top: 270px;
    font: normal normal 300 30px/40px Segoe UI;
}
.myBarW3{
    position: absolute;
    width: 10%;
    border-radius: 20px ; 
    background-color: #279864;
    color: #fff;
    font-family: 'Segoe UI';
}
.w3RowExp:hover{
    border: #fff solid 2px;
    background: #aaaaaa38;
}
/*Design Software*/

.psRowExp {
    position: absolute;
    top: 3703px;
    left: 633px;
    width: 282px;
    height: 327px;
    background: #242424;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.psLogo{
    position: absolute;
    top: 15px;
    width:230px;
    left: 27px;
}
.ps-bar{
    margin-right: 10px;
    margin-left: 10px;
    height: 20px;
    background-color: #191919; 
    position: relative; 
    top: 270px; 
    border-radius: 20px;
}
.pstxt{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    top: 270px;
    font: normal normal 300 30px/40px Segoe UI;
}
.myBarPS{
    position: absolute;
    width: 10%;
    border-radius: 20px ; 
    background-color: #279864;
    color: #fff;
    font-family: 'Segoe UI';
}
.psRowExp:hover{
    border: #fff solid 2px;
    background: #aaaaaa38;
}

.xdRowExp {
    position: absolute;
    top: 3703px;
    left: 984px;
    width: 282px;
    height: 327px;
    background: #242424;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.xdLogo{
    position: absolute;
    top: 15px;
    width:230px;
    left: 27px;
}
.xd-bar{
    margin-right: 10px;
    margin-left: 10px;
    height: 20px;
    background-color: #191919; 
    position: relative; 
    top: 270px; 
    border-radius: 20px;
}
.xdtxt{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    top: 270px;
    font: normal normal 300 30px/40px Segoe UI;
}
.myBarXD{
    position: absolute;
    width: 10%;
    border-radius: 20px ; 
    background-color: #279864;
    color: #fff;
    font-family: 'Segoe UI';
}
.xdRowExp:hover{
    border: #fff solid 2px;
    background: #aaaaaa38;
}


.upc{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 30px;
    text-align: center;
    background-color: #279864;
    transition: all 0.3s ease 0s;
}
.upc:hover{
    transform: translateY(-7px);
    background-color: #0dd879;
}
.upc:active{
    transform: translateY(7px);
    background-color: #346850;
}

.footer{
    position: absolute;
    top: 4215px;
    left: 0px;
    width: 1920px;
    height: 120px;
    background: #141414 0% 0% no-repeat padding-box;
    opacity: 1;
}
.copy{
    position: relative;
    font: normal normal bold 20px/27px Segoe UI;
    color: #FFFFFF;
    top: 50px;
    transition: all 0.3s ease 0s;
}
.copyurl{
    text-decoration: none;
    position: relative;
    font: normal normal bold 20px/27px Segoe UI;
    color: #00C578;
    top: 22px;
    right: 200px;
    transition: all 0.3s ease 0s;
}
.copyurl:hover{
    color: #0dd879;
}
.thamer-foot{
    position: absolute;
    top: 50px;
    left: 60px;
    width: 173px;
    height: 33px;
    text-align: left;
    transition: all 0.3s ease 0s;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 12.5px;
    color: #FFFFFF;
    opacity: 1;
    cursor: default;
}