
@media screen and (max-width:414px){

*{
    padding: 0;
    margin: 0;
}
body{
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
   }
   
   .scroll {
    text-decoration: none;
    color: black;
   } 
/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: none;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/**/
body{
    height: 3522px;
    background: #191919 0% 0% no-repeat padding-box;
    display:block;
}

/*taskbar*/
.thamer{
    position: absolute;
    top: 20px;
    left: 138px;
    width: 138px;
    height: 27px;
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 10px;
    color: #FFFFFF;
    opacity: 1;
}
.menaicon{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #202020;
    z-index: 99;
    text-align: center;
}
.home{
    position: absolute;
    top: 40px;
    left: 57px;
    width: 30px;
    height: 14px;
    text-align: left;
    font: normal normal normal 10px/14px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.home:active{
    color: #707070;
}
.homeico{
    position: absolute;
    top: 10px;
    left: 57px;
    font: normal normal normal 30px/34px Segoe UI;
    opacity: 1;
    color: #FFFFFF;
}
.homeico:active{
    color: #707070;
}
.experiences{
    position: absolute;
    top: 40px;
    left: 132px;
    width: 61px;
    height: 14px;
    text-align: left;
    font: normal normal normal 10px/14px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.expico{
    position: absolute;
    top: 10px;
    left: 147px;
    font: normal normal normal 30px/34px Segoe UI;
    opacity: 1;
    color: #FFFFFF;
}
.expico:active{
    color: #707070;
}
.projects{
    position: absolute;
    top: 40px;
    left: 230px;
    width: 45px;
    height: 14px;
    text-align: left;
    font: normal normal normal 10px/14px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.proico{
    position: absolute;
    top: 10px;
    left: 237px;
    font: normal normal normal 30px/34px Segoe UI;
    opacity: 1;
    color: #FFFFFF;
}
.proico:active{
    color: #707070;
}
.more{
    position: absolute;
    top: 40px;
    left: 328px;
    width: 28px;
    height: 14px;
    text-align: left;
    font: normal normal normal 10px/14px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.moreico{
    position: absolute;
    top: 10px;
    left: 327px;
    font: normal normal normal 30px/34px Segoe UI;
    opacity: 1;
    color: #FFFFFF;
}
.moreico:active{
    color: #707070;
}
/*header*/

.char{
    position: absolute;
    top: 379px;
    left: 12px;
    width: 391px;
    height: 337px;
}
.imt{
    position: absolute;
    top: 92px;
    left: 67px;
    width: 448px;
    height: 106px;
    text-align: left;
    font: normal normal normal 50px/67px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.im{
    position: absolute;
    top: 152px;
    left: 88px;
    width: 122px;
    height: 73px;
    text-align: left;
    font: normal normal normal 35px/47px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.dev{
    position: absolute;
    top: 152px;
    left: 167px;
    width: 250px;
    height: 73px;
    text-align: left;
    font: normal normal normal 35px/47px Segoe UI;
    letter-spacing: 0px;
    color: #279864;
    opacity: 1;
}
.twr{
    position: absolute;
    top: 759px;
    left: 142px;
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: all 0.3s ease 0s;
    z-index: 10;
}
.gith{
    position: absolute;
    top: 759px;
    left: 222px;
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: all 0.3s ease 0s;
    z-index: 10;
}
.warn1{
    position: absolute;
    top: 226px;
    left: 36px;
    font-size: 25px;
    color: #279864;
    opacity: 1;
}
.warn2{
    position: absolute;
    top: 303px;
    left: 36px;
    font-size: 25px;
    color: #279864;
    opacity: 1;
}
.warn1txt{
    position: absolute;
    top: 224px;
    left: 71px;
    width: 307px;
    height: 54px;
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.warn2txt{
    position: absolute;
    top: 301px;
    left: 71px;
    width: 247px;
    height: 54px;
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#grey_1 {
    fill: rgba(39,152,100,0.129);
}
.grey_1 {
    display: block;
    overflow: visible;
	position: absolute;
	width: 460.794px;
	height: 3621.708px;
	left: -218.104px;
	top: -124.624px;
	transform: matrix(1,0,0,1,0,0);
}
#green_2 {
    fill: rgba(28,28,28,0.878);
}
.green_2 {
    display: block;
    overflow: visible;
	position: absolute;
	width: 338.39px;
	height: 3605px;
	left: 85px;
	top: -124.624px;
	transform: matrix(1,0,0,1,0,0);
}
/*about me*/

.about{
    position: absolute;
    top: 956px;
    left: 94px;
    width: 226px;
    height: 40px;
    text-align: center;
    font: normal normal 600 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.mycv{
    position: absolute;
    top: 1026px;
    left: 37px;
    width: 340px;
    height: 405px;
    text-align: center;
    font: normal normal 600 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
/*experiences*/

.exp{
    position: absolute;
    top: 1511px;
    left: 126px;
    width: 162px;
    height: 40px;
    text-align: center;
    font: normal normal 600 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    z-index: 1;
}
.btnreveal{
    position: absolute;
    top: 1591px;
    left: 135px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #279864;
    font-size: 20px;
    letter-spacing: 1px;
    transition: all 0.15s linear;
    z-index: 1;
}
   
.btnreveal:active {
    background-color: transparent;
    border-color: #279864;
    color: #279864;
    transform: translateY(5px) scale(0.95);
}
   
.btnreveal:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8E8E93;
    border-color: #8E8E93;
}
.prolang{
    position: absolute;
    top: 1673px;
    left: 16px;
    width: 348px;
    height: 40px;
    text-align: center;
    font: normal normal 600 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.prolangicon{
    position: relative;
    top: 1680px;
    left: 369px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #FFFFFF;
}
.fw{
    position: absolute;
    top: 2243px;
    left: 107px;
    width: 165px;
    height: 40px;
    text-align: center;
    font: normal normal 600 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.fwicon{
    position: absolute;
    top: 2244px;
    left: 277px;
    font-size: 30px;
    color: #FFFFFF;
}
.ds{
    position: absolute;
    top: 2798px;
    left: 77px;
    width: 226px;
    height: 40px;
    text-align: center;
    font: normal normal 600 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.dsicon{
    position: absolute;
    top: 2800px;
    left: 308px;
    font-size: 30px;
    color: #FFFFFF;
}
/*Blocks*/
/*Programming Languages*/

.htmlRowExp {
    position: absolute;
    top: 1753px;
    left: 32px;
    width: 150px;
    height: 200px;
    background: #242424;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.htmlLogo{
    position: absolute;
    top: 10px;
    width: 150px;
    left: 0px;
}
.html-bar{
    margin-right: 10px;
    margin-left: 10px;
    height: 10px;
    background-color: #191919; 
    position: relative; 
    font-size: 15px;
    top: 165px; 
    border-radius: 20px;
}
.htmltxt{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    top: 160px;
    font: normal normal 300 20px/30px Segoe UI;
}
.myBarHTML{
    position: absolute;
    width: 10%;
    height: 10px;
    border-radius: 20px ;
    background-color: #279864;
    line-height: 10px;
    font-size: 8px;
    color: #fff;
    font-family: 'Segoe UI';
}

.cssRowExp {
    position: absolute;
    top: 1753px;
    left: 232px;
    width: 150px;
    height: 200px;
    background: #242424;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.cssLogo{
    position: absolute;
    top: 10px;
    width: 106px;
    left: 22px;
}
.css-bar{
    margin-right: 10px;
    margin-left: 10px;
    height: 10px;
    background-color: #191919; 
    position: relative; 
    font-size: 15px;
    top: 165px; 
    border-radius: 20px;
}
.csstxt{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    top: 160px;
    font: normal normal 300 20px/30px Segoe UI;
}
.myBarCSS{
    position: absolute;
    width: 10%;
    height: 10px;
    border-radius: 20px ;
    background-color: #279864;
    line-height: 10px;
    font-size: 8px;
    color: #fff;
    font-family: 'Segoe UI';
}


.jsRowExp {
    position: absolute;
    top: 1993px;
    left: 32px;
    width: 150px;
    height: 200px;
    background: #242424;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.jsLogo{
    position: absolute;
    top: 10px;
    width: 130px;
    left: 10px;
}
.js-bar{
    margin-right: 10px;
    margin-left: 10px;
    height: 10px;
    background-color: #191919; 
    position: relative; 
    font-size: 15px;
    top: 165px; 
    border-radius: 20px;
}
.jstxt{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    top: 160px;
    font: normal normal 300 20px/30px Segoe UI;
}
.myBarJS{
    position: absolute;
    width: 10%;
    height: 10px;
    border-radius: 20px ;
    background-color: #279864;
    line-height: 10px;
    font-size: 8px;
    color: #fff;
    font-family: 'Segoe UI';
}
/*Frameworks*/

.btRowExp {
    position: absolute;
    top: 2318px;
    left: 32px;
    width: 150px;
    height: 200px;
    background: #242424;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.btLogo{
    position: absolute;
    top: 10px;
    width: 130px;
    left: 10px;
}
.bt-bar{
    margin-right: 10px;
    margin-left: 10px;
    height: 10px;
    background-color: #191919; 
    position: relative; 
    font-size: 15px;
    top: 165px; 
    border-radius: 20px;
}
.bttxt{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    top: 160px;
    font: normal normal 300 20px/30px Segoe UI;
}
.myBarBT{
    position: absolute;
    width: 10%;
    height: 10px;
    border-radius: 20px ;
    background-color: #279864;
    line-height: 10px;
    font-size: 8px;
    color: #fff;
    font-family: 'Segoe UI';
}

.w3RowExp {
    position: absolute;
    top: 2318px;
    left: 232px;
    width: 150px;
    height: 200px;
    background: #242424;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.w3Logo{
    position: absolute;
    top: 10px;
    width: 130px;
    left: 10px;
}
.ww-bar{
    margin-right: 10px;
    margin-left: 10px;
    height: 10px;
    background-color: #191919; 
    position: relative; 
    font-size: 15px;
    top: 165px; 
    border-radius: 20px;
}
.w3txt{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    top: 160px;
    font: normal normal 300 20px/30px Segoe UI;
}
.myBarW3{
    position: absolute;
    width: 10%;
    height: 10px;
    border-radius: 20px ;
    background-color: #279864;
    line-height: 10px;
    font-size: 8px;
    color: #fff;
    font-family: 'Segoe UI';
}
/*Design Software*/

.psRowExp {
    position: absolute;
    top: 2873px;
    left: 32px;
    width: 150px;
    height: 200px;
    background: #242424;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.psLogo{
    position: absolute;
    top: 10px;
    width: 130px;
    left: 10px;
}
.ps-bar{
    margin-right: 10px;
    margin-left: 10px;
    height: 10px;
    background-color: #191919; 
    position: relative; 
    font-size: 15px;
    top: 165px; 
    border-radius: 20px;
}
.pstxt{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    top: 160px;
    font: normal normal 300 20px/30px Segoe UI;
}
.myBarPS{
    position: absolute;
    width: 10%;
    height: 10px;
    border-radius: 20px ;
    background-color: #279864;
    line-height: 10px;
    font-size: 8px;
    color: #fff;
    font-family: 'Segoe UI';
}

.xdRowExp {
    position: absolute;
    top: 2873px;
    left: 232px;
    width: 150px;
    height: 200px;
    background: #242424;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.xdLogo{
    position: absolute;
    top: 10px;
    width: 130px;
    left: 10px;
}
.xd-bar{
    margin-right: 10px;
    margin-left: 10px;
    height: 10px;
    background-color: #191919; 
    position: relative; 
    font-size: 15px;
    top: 165px; 
    border-radius: 20px;
}
.xdtxt{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    top: 160px;
    font: normal normal 300 20px/30px Segoe UI;
}
.myBarXD{
    position: absolute;
    width: 10%;
    height: 10px;
    border-radius: 20px ;
    background-color: #279864;
    line-height: 10px;
    font-size: 8px;
    color: #fff;
    font-family: 'Segoe UI';
}


.upc{
    display: none;
}

.footer{
    position: absolute;
    top: 3392px;
    left: 0px;
    width: 414px;
    height: 70px;
    background: #141414 0% 0% no-repeat padding-box;
    opacity: 1;
}
.copy{
    position: relative;
    font: normal normal bold 10px/17px Segoe UI;
    color: #FFFFFF;
    top: 25px;
    transition: all 0.3s ease 0s;
}
.copyurl{
    text-decoration: none;
    position: relative;
    font: normal normal bold 10px/17px Segoe UI;
    color: #00C578;
    top: 3px;
    left: 110px;
    transition: all 0.3s ease 0s;
}
.thamer-foot{
    position: absolute;
    top: 25px;
    left: 10px;
    width: 173px;
    height: 33px;
    text-align: left;
    transition: all 0.3s ease 0s;
    font: normal normal normal 10px Segoe UI;
    letter-spacing: 12.5px;
    color: #FFFFFF;
    opacity: 1;
    cursor: default;
}

}